%estilo-texto{
	& > *{
		width: 60%;
		@media (max-width: 1000px){
			width: 100%;
		}
	}


	&, aside, blockquote, #notas-de-rodape > div[data-nota]{
		& > *{
			margin: 0;
			margin-bottom: 1.5rem;
			&:last-child{
				margin-bottom: 0em;
			}

			& +{
				h1,h2,h3,h4,h5{
					margin-top: 3rem;
				}
			}
		}
	}

	span.pagina{
		width: auto;
		margin: 0;
		display: block;
		float: right;
		color: hsl(0,0%,85%);
		font-family: $fonte-titulo;
		font-weight: 800;
		font-size: 2.5em;
		line-height: 1;
	}

	aside{
		font-size: 0.9em;
		line-height: $entrelinha-maior;
		font-family: $fonte-titulo;
		color: $cor-texto-claro;
		float: right;
		clear: right;
		width: 35%;
		padding-left: 3em;
		border-left: 1px dotted hsl(0,0%,80%);
		text-align: justify;
		@include hyphens(auto);
		&.autores{
			margin-top: 4rem;
			& + *{
				margin-top: 4rem;
			}
		}

		@media (max-width: 1000px){
			float: none;
			width: 100%;
			padding-left: 0;
			text-align: left;
			@include hyphens(none);

		}
	}

	h1,h2,h3,h4,h5{
		margin-bottom: 0.5rem;
		line-height: $entrelinha-menor;
	}

	h1{font-size: 3em; font-weight: 300;}

	h2{font-size: 2em;}

	h3{font-size: 1.5em;}

	h4{font-size: 1.2em;}

	h5{font-family: $fonte-corpo; font-weight: bold;}

	a{
		&, &:link, &:visited{
			color: $roxo-claro2;
			text-decoration: none;
			box-shadow: inset 0px -0.3em 0px $laranja-claro;
			@include transition(box-shadow 0.1s linear);
			overflow-wrap: break-all;
			word-wrap: break-all;
			word-break: break-all;
			&:hover{
				box-shadow: inset 0px -1em 0px $laranja-claro;
			}
		}
	}

	figure{
		margin: 2rem 0;
		a, a:link, a:visited{
			color: inherit;
			box-shadow: none;
			@include transition(none);
			overflow-wrap: normal;
			word-wrap: normal;
			word-break: normal;
			&:hover{
				box-shadow: none;
			}
		}
		a,img{
			display: block;
			max-width: 100%;
			height: auto;
			margin-bottom: 0.5rem;
		}
		figcaption{
			font-family: $fonte-titulo;
			font-weight: 300;
			color: grey;
		}
		&.grande{
			width: 100%;
			clear: right;
			a,img{
				min-width: 60%;
			}
		}
	}


	dl{
		margin: 0;
		dt{
			font-weight: bold;
		}

		dd{
			& + dt{
				margin-top: 1.5em;
			}
		}
		dt,dd{
			margin: 0;
		}
	}

	ol,ul{
		font-size: 0.9rem;
		list-style: none;
		// line-height: $entrelinha-menor;
		padding-left: 2.5em;
		color: $cor-texto-claro;
		li{
			margin-bottom: 0.8em;
		}
	}

	ul{
		li{
			&:before{
				content: '\2b29';
				color: $roxo-claro2;
				margin-right: 1ch;
			}
		}
	}

	ol{
		li{
			&:before{
				margin-right: 1ch;
				font-family: $fonte-titulo;
				font-weight: 800;
				color: $roxo-claro2;
			}
		}
		& > li{
			counter-increment: listanumerada1;
			&:before{content: counter(listanumerada1) '. ' ;}
		}

		& > ol{
			& > li{
				counter-increment: listanumerada2;
				&:before{content: counter(listanumerada1) '.' counter(listanumerada2);}

			}

			& > ol{
				& > li{
					counter-increment: listanumerada3;
					&:before{content: counter(listanumerada1) '.' counter(listanumerada2) '.' counter(listanumerada3);}
				}

				& > ol{
					& > li{
						counter-increment: listanumerada4;
						&:before{content: counter(listanumerada1) '.' counter(listanumerada2) '.' counter(listanumerada3) '.' counter(listanumerada4);}
					}
				}
			}
		}
	}

	blockquote{
		color: $cor-texto-claro;
		margin: 3rem 0;
		padding-left: 2.5em;
		font-size: 0.9em;
	}



	table{
		clear: right;
		margin: 3rem 0;
		width: auto;
		min-width: 60%;
		max-width: 100%;
		// line-height: $entrelinha-menor;
		&, & *{
			border-collapse: collapse;
		}

		caption{
			font-family: $fonte-titulo;
			font-weight: 300;
			caption-side: bottom;
			margin-top: 0.5rem;
			color: grey;
			text-align: left;
		}

		th{
			text-align: left;
		}

		th,td{
			padding: 0.3em 0.5em;
			&:last-child{
			}
		}
		thead{
			font-size: 0.9em;
			th{
				padding: 0.5em;
				font-weight: bold;
				background-color: $laranja-claro;
				border-right: 1px solid transparentize(black, 0.8);
				&:last-child{
					border-right: none;
				}
			}
		}

		tbody{
			font-size: 0.8em;
			tr{
				th,td{
					ul, ol{
						font-size: 1em;
						padding-left: 1.8em;
					}

					border-bottom: 1px solid hsl(0,0%,80%);
					border-right: 1px solid hsl(0,0%,95%);

					&:last-child{
						border-right: none;
					}
				}
			}
		}
	}

	section.galeria-imagens{
		@include display(flex);
		@include flex-wrap(wrap);
		width: 100%;
		
		a{
			box-shadow: none;
			&:hover{
				box-shadow: none;
			}
			@include display(flex);
			@include align-items(center);
			@include justify-content(center);
			width: 25%;
			height: 150px;
			background-size: cover;
			background-position: center center;

			figure{
				@include display(flex);
				@include align-items(center);
				@include justify-content(center);
				img{
					display: block;
					width: auto;
					height: auto;
					max-width: 100%;
					max-height: 100%;
				}
				figcaption{
					display: none;
				}
			}
		}
	}

	.duas-colunas{
		columns: 2;
		column-gap: 2rem;
		width: 100%;
		
		& > *{
			width: 100%;
			&:first-child{
				margin-top: 0;
			}
		}

		dl{
			margin-top: 4em;
			break-inside: avoid;
			&:first-child{
				margin-top: 0;
			}
			h3{
				margin: 0;
				margin-bottom: 1rem;
			}
		}
	}



	.bt-nota-rodape{
		font-weight: bold;
		// vertical-align: top;
		padding: 0.5ch;
		background-color: $laranja-claro;
		color: $roxo-claro;
		// font-size: 0.9em;
		&:before{
			content: attr(data-nota);
		}
		&.ativo{
		}
	}

	@include keyframes(notaAparece){
		0%{
			@include transform(scale(0));
			opacity: 0;
		}

		100%{
			@include transform(scale(1));
			opacity: 1;
		}
	}

	#notas-de-rodape{
		margin: 0;
		display: none;
		position: absolute;
		z-index: 1;
		background-color: $laranja-claro;
		@include transform-origin(50% 100%);
		&.parabaixo{
			@include transform-origin(50% 0%);
		}
		opacity: 0;
		width: 25rem;
		// z-index: 2;
		&.animation{
			@include animation(notaAparece 0.2s ease-out 0s 1 normal forwards);				
		}
		&.visivel{
			display: block;
		}

		.ctn-bt-fechar{
			width: 100%;
			@include display(flex);
			@include justify-content(flex-end);
			padding: 1rem 1rem 0.5rem;
			button.fechar{
				width: 0.6rem;
				height: 0.6rem;
				display: block;
				background-repeat: no-repeat;
				background-image: url(../media/icon-fechar.svg);
				background-size: contain;
			}
		}
		& > div[data-nota]{
			margin: 0;
			font-size: 0.9em;
			line-height: $entrelinha-menor;
			padding: 0 1.5rem 1.5rem;
			display: none;
			&.atual{
				display: block;
			}
			
		}
	}
		
}









